<div class="order-container">
    <div class="header">
        <div class="id">Order ID: {{order.id}}</div>
        <div class="number"> Order Number: <a target="_blank" href="https://shop.goop.com/shop/admin/orders/{{order.number}}/edit">{{order.number}}</a></div>
        <div class="state {{order.state}}"> Order State: {{order.state }}</div>
    </div>
    <div class="order-deatils">
        <div class="created-at">Created At: {{order.created_at}}</div>
        <div class="updated-at"> Updated At: {{order.updated_at}}</div>
        <div class="shipment-status {{order.shipment_state}}">Shipment Status: {{order.shipment_state}}</div>
    </div>
    {{#each payments}}
        <div class="payment">
            <div class="method">Payment Method: {{method.name}} </div>
            <div class="source"> </div>
            <div class="status ">Payment State: {{payment.state}} </div>
        </div>
    {{/each}}

</div>
